{% extends 'Sitio/base.html'%}
{% load static %}
{% block bloquePrincipal%}
<div id="cabezal-marcas" class="marcas-centradas">  
<h3 class="seccion-titulo">Lista de Usuarios ({{ cantidad }})</h3>
{% include 'Catalogo/menu_gestion.html' %}
{% if mensaje %}
<div class="my-3">
    <div class="sent-message" style="color:#ffffff;background-color:goldenrod;padding:10px;">
        {{ mensaje}}
    </div>
</div>
{% endif %}

    <div class="contenedor_listado">  
    <div class="container">
         <div class="row">
              <div class="col-10"><strong>Usuario</strong></div>
              <div class="col-1">&nbsp;</div>
              <div class="col-1">&nbsp;</div>
              <div class="w-100"></div>
              {% for usuario in usuarios %}
              <div class="col-10">{{ usuario.username }}</div>
              <div class="col-1">
                {% if usuario.username != 'admin' %}
                <a href="javascript:eliminar_usuario('{% url 'Eliminar Usuario' usuario.id %}')">Eliminar</a>
                {% else %} x {% endif %}</div>
              <div class="col-1"><a href="{% url 'Editar Usuario' usuario.id %}">Editar</a></div>
              <div class="w-100"></div>
              {% endfor %}
          </div>
        </div>  
</div>

</div>
{% endblock%}