{% extends 'Sitio/base.html'%}
{% load static %}
{% block bloquePrincipal%}
<div id="cabezal-marcas" class="marcas-centradas">  
<h3 class="seccion-titulo">Logout de Usuario</h3>
<section class="contact section-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="sent-message" style="color:#ffffff;background-color:goldenrod;padding:10px;">
                Saliste de tu sesión con éxito!! Vuelve pronto!!
            </div>
    </div>
  </section>
</div>
{% endblock%}