
{% extends 'Sitio/base.html'%}
{% load static %}
{% block bloquePrincipal%}
<div id="cabezal-marcas" class="marcas-centradas">     
    <h3 class="seccion-titulo">Acerca de</h3>
    <!---<h3 class="seccion-descrip">"Creo firmemente en el poder de la tecnología para mejorar la vida de las personas."</h3>-->
<br>
    <div >
        ¡Hola! Soy <strong>Marisol</strong>, una apasionada programadora con varios años de experiencia en el fascinante mundo del desarrollo de software.
            <br> <br>
            Desde mis primeros pasos en la programación, he estado enamorada de la creatividad y la resolución de problemas que esta disciplina ofrece. Mi viaje comenzó con el <strong>lenguaje PHP</strong>, y desde entonces, he trabajado en varios proyectos, cada uno de los cuales ha contribuido a mi crecimiento profesional.
            
           <br> <br>
            Mi enfoque se centra en el <strong>desarrollo web</strong>, y disfruto particularmente enfrentar desafíos complejos que requieren soluciones innovadoras. He trabajado en otras tecnologías como por ejemplo, <strong>JavaScript</strong>, <strong>Java</strong>, etc.
           <br> <br>
            Lo que más me motiva en mi carrera es la posibilidad de crear soluciones que impacten positivamente a las personas. Creo firmemente en el poder de la tecnología para mejorar la vida de las personas y estoy comprometida a contribuir con mi granito de arena.
        <br> <br>
            A lo largo de mi carrera, he aprendido la importancia de la colaboración y la comunicación efectiva. Trabajar en equipos diversos me ha enseñado a apreciar diferentes perspectivas y a encontrar soluciones sólidas a los desafíos que enfrentamos.
       <br> <br>
            Estoy emocionada por el futuro de la programación y estoy constantemente actualizándome para mantenerme al día con las últimas tendencias y tecnologías. <strong>Esta es la razón por la cual he eleigido este curso.</strong> Siempre estoy abierta a nuevas oportunidades y desafíos emocionantes.
        <br><br>
            ¡Gracias por visitar mi perfil y espero tener la oportunidad de colaborar contigo en futuros proyectos!
    </div>
       
</div> 
{% endblock%}